<main>
  {{resource-detail
    resource=model.resource
    isAllNamespaces=model.isAllNamespaces
    isNamespaced=model.isNamespaced
    overrideNamespace=model.overrideNamespace
    body=model.body
    create=true
    edit=true
  }}
</main>
