// Local variables for reused colors
$lightest: #FAFAFA;
$lighter: #EDF2F9;
$light: #9B9FA5;
$medium: #7B8085;
$dark: #5B6064;
$darker: #3C4044;
$darkest: #2D3033;


$contrasted-dark: black !default;
$contrasted-light: white !default;

$primary:   #337ab7;
$secondary: $darkest;
$link:      #6cb4b9;
$disabled:  #c8c8c8;
$success:   #9ebb85;
$info:      #d7c25a;
$warning:   #d7c25a;
$error:     #de5347;

$selected: rgba($primary, .5);

:root {
  // Colors that will have text- and bg- helper classes created
  // value can also be map of default, default-text, hover-text, hover-bg, active-text,  active-bg)
  @include color-variables((
    default:    $primary,
    muted:      $disabled,
    disabled:   (
      default-text: white,
      default: $disabled,
    ),
    link:       (
      default-text: $link,
      hover-text:   darken($link, 10%),
      active-text:  darken($link, 25%),
      default:      transparent,
      hover-bg:     transparent,
      active-bg:    transparent,
    ),
    primary:    $primary,
    secondary:  $secondary,
    success:    $success,
    info:       $info,
    warning:    $warning,
    error:      $error
  ), true);

  --body-bg:                    white;
  --body-text:                  #{$darkest};
  --header-bg:                  #{$lighter};
  --nav-bg:                     #{$lighter};
  --footer-bg:                  #{$lighter};
  --box-bg:                     #{$light};
  --border:                     #{$medium};

  --dropdown-bg:                #{$dark};
  --dropdown-border:            #{$medium};
  --dropdown-divider:           #{$medium};
  --dropdown-text:              #{$link};
  --dropdown-hover-text:        var(--primary-text);
  --dropdown-hover-bg:          var(--primary-bg);
  --dropdown-active-text:       var(--active-text);
  --dropdown-active-bg:         var(--active-bg);
  --dropdown-disabled-text:     var(--muted);
  --dropdown-disabled-bg:       transparent;

  --overlay-bg:                 #{rgba($medium, 0.5)};

  --input-label:                #{$dark};
  --input-text:                 black;
  --input-placeholder:          #{$medium};
  --input-border:               #{$dark};
  --input-bg:                   #{$lightest};
  --input-hover-bg:             lighten($light, 10%);
  --input-focus-bg:             white;
  --input-focus-border:         transparent;
  --input-disabled-text:        #{$dark};
  --input-disabled-bg:          #{$medium};
  --input-disabled-border:      #{$medium};
  --input-disabled-placeholder: darken($medium, 10%);

  --modal-overlay-bg:           rgba(#000, 0.75);
  --modal-bg:                   white;
  --modal-border:               transparent;
  --modal-shadow:               #555;

  --progress-bg:                #{$medium};
  --progress-divider:           #{$medium};

  --sortable-table-bg:          transparent;
  --sortable-table-header-bg:   #eef;
  --sortable-table-accent-bg:   #efe;
  --sortable-table-accent-alt:  #ded;
  --sortable-table-divider:     #ddd;
  --sortable-table-selected-bg: #ccc;

  --tooltip-bg: #333;
  --tooltip-text: white;
  --tooltip-border-radius: 4px;
}
