$btn-padding: 8px 12px;
$xs-padding: 2px 3px;
$sm-padding: 5px 10px;
$lg-padding: 18px 30px;

@import "ember-shared/base/variables";
@import "ember-shared/base/functions";
@import "ember-shared/base/mixins";
@import "ember-shared/base/helpers";
@import "ember-shared/base/color";
@import "ember-shared/base/basic";
@import "fonts/icons";

@import "themes/light";
@import "themes/dark";

@import "ember-shared/components/badge";
@import "ember-shared/components/button";
@import "ember-shared/components/dropdown";
@import "ember-shared/components/form";
@import "ember-shared/components/grid";
@import "ember-shared/components/growl";
@import "ember-shared/components/input-yaml";
@import "ember-shared/components/loading";
@import "ember-shared/components/modal";
@import "ember-shared/components/progress";
@import "ember-shared/components/sortable-table";
@import "ember-shared/components/tooltip";

/*
HTML {
  --light: #e6f2fa;
  --medium: #7086f1;
  --muted: #666;
  --input-bg: #666;
  --dark: #192466;
  --darker: #121258;
  --dark-contrast: white;
  --selected: #f8d14e;
  --link-text: #192466;
  --link-hover-text: #{lighten(#192466, 20%)};
}
*/

BODY {
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--body-bg);
  color: var(--body-text);
}

A, A:hover, A:active, A:visited {
  text-decoration: underline;
}

BODY>.ember-view {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 250px auto;
  grid-template-rows: 100vh;

  > .left {
    grid-area: left;
    overflow-y: auto;
  }

  > .right {
    grid-area: right;
    overflow: auto;
    padding: 10px;
  }
}

NAV {
  background-color: var(--nav-bg);

  .logo {
    display: block;
    margin: 10px 0;
    height: 50px;
    width: 100%;
    background: url('/assets/images/science-cow.svg') center center no-repeat;
  }

  LABEL {
    display: block;
    margin: 0 10px;
    padding: 5px;
    color: var(--primary-text);
    background-color: var(--link-text);
    border: 1px solid var(--link-text);
    border-bottom: 0;
  }

  UL.list-unstyled {
    margin: 0 10px 10px 10px;
    padding: 5px;
    list-style-type: none;
  }

  LI {
    position: relative;

    & > .add-favorite,
    & > .remove-favorite {
      display: none;
      color: #a7ab2c;
      opacity: 0.5;
      vertical-align: top;

      I {
        cursor: pointer;
        cursor: hand;
      }
    }

    &:hover > .add-favorite,
    &:hover > .remove-favorite {
      display: inline;
    }

    &.active {
      background-color: var(--selected);
    }
  }

  &.grouped UL {
   border: 1px solid var(--link-text);
   background-color: var(--body-bg);
 }
}

MAIN {
  padding: 10px;
}

HEADER {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: auto 150px;
  grid-template-rows: 50px;
  margin-bottom: 10px;

  background-color: var(--header-bg);
  color: var(--dark-contrast);

  .left {
    grid-area: left;
    padding: 10px;

    H2 {
      display: inline-block;
      position: relative;
      padding: 10px 0 0 20px;
      min-width: 75px;

      &.api {
        padding-left: 0;
      }

      > LABEL {
        position: absolute;
        top: -6px;
        font-size: 12px;
      }

      > SELECT {
        display: inline-block;
        width: auto;
        height: 22px;
      }
    }
  }

  .right {
    grid-area: right;
    padding: 10px;
    text-align: right;
  }

  H1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  H2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--light);
  }

  A:visited, A:focus, A:hover, A:active {
    color: var(--light);
  }
}

.text-muted {
  color: var(--muted);
}

.input-definition {
  table-layout: fixed;
  border: 1px solid blue;
  width: 100%;

  &>.key {
    width: 200px;
    vertical-align: top;
  }

  &>.value {
  }
}

.right-buttons {
  text-align: right;
  float: right;
}

.hide {
  display: none;
}

.input-yaml H1 {
  margin: 0;
  float: left;
}

.code-view .CodeMirror {
  background: transparent !important;
}

.cm-s-xq-light span.cm-meta {
  color: black;
}

.error {
  background-color: var(--error);
  color: var(--error-text);
  padding: 10px;
  margin: 10px;

  &:not(:first-child) {
    margin-top: 0;
  }
}

.faded {
  opacity: 0.4;
}

.icon {
  vertical-align: initial;
}

.create-btn {
  font-size: 16px;
  position: relative;
  top: -5px;
  padding: 10px 20px !important;
}
